*, *:before, *:after {
    box-sizing: border-box;
}

body {
  background-color: #eae8e5;
  margin: none;
  padding: none;
}

.container {
  max-width: 900px;
  background-color: white;
  text-decoration: none;
  font-family: "KoHo", sans-serif;
  margin: 20px auto;
  padding: 20px 15px 15px 15px;
}

/* top line */
.line {
  border-bottom: 2px solid #BB965F;
}

/* grid */
.content {
  display: flex;
  justify-content: space-between;
}

.left_column {
  width: 45%;
  margin-right: 5%;
}
.right_column {
  width: 60%;
  margin-left: 5%;
}

/* header section */
.header {
  display: flex;
}

#ja {
  margin-top: 3%;
  max-height: 220px;
}

.header h2 {
  font-size: 30px;
  margin-top: 3%;
  text-transform: uppercase;
  border-bottom: 2px solid #BB965F;
}

.goal {
  margin-left: 3%;
  text-align: left;
}

.goal h3 {
  margin-bottom: 3px;
}

.goal p {
  margin-top: 3px;
  font-size: 14px;
}

/* Contact section */
.contact {
  font-size: 14px;
}
.contact img {
  height: 35px;
}
.info {
  padding-left: 10px;
}

/* About me section */
.about h3 {
  width: 100%;
  border-bottom: 2px solid #BB965F;
}

/* Languages section */
.languages h3 {
  width: 100%;
  border-bottom: 2px solid #BB965F;
}
.language {
  display: flex;
}
.lang_name {
  text-align: center;
  margin-left: 2%;
  margin-top: 10%;
}
.additional h3 {
  width: 100%;
  border-bottom: 2px solid #BB965F;
}

.skills h3 {
  width: 80%;
  border-bottom: 2px solid #BB965F;
}

/* Experiance section */
.experiance h3 {
  width: 80%;
  border-bottom: 2px solid #BB965F;
  /* font-size: 14px; */
}

.jobs {
  margin-top: 0px;
  margin-bottom: 20px;
}
.date {
  font-size: 12px;
  color: #BB965F;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.firm {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.office {
/* font-size: 14px; */
padding-top: 0px;
padding-bottom: 0px;
margin-top: 5px;
margin-bottom: 3px;
}

.education h3{
  width: 80%;
  border-bottom: 2px solid #BB965F;
}

.additional ul {
  padding-left: 10px;
  list-style-type: none;
}
